* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:#661d32;
    color:#FBEEE1;
    font-family:"Josefin Sans", sans-serif;
}

h1{
    font-family: "Lugrasimo", cursive;
    text-align: center;
    font-size:2.7rem;
}

h2{
    font-family:"Lugrasimo", cursive;
    font-size: 2rem;
    letter-spacing:1px;
    text-align: center;
    color: #FBEEE1;
    padding:1rem;
}

h3 {
    font-family:"Lugrasimo", cursive;
    font-size: 2rem;
    letter-spacing:1px;
    text-align: center;
    color: #30302B;
    padding:1rem

}

hr{
    color: #BABCAE;
}

/*WELCOME*/

header{
    background-image: url("/img/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    text-shadow: 4px 2px 4px black;
}

#hero {
    background-color: #BABCAE;
    color: #30302B;
    text-align: center;
    font-size: 1.5rem;
    padding: 2rem;

}

footer {
    font-size: 1rem;
    text-align: center;
    font-size: 1rem;
    padding: 2rem;
}

#bio{
    text-align: center;
    font-size: 1.1rem;
    color: #FBEEE1;
    padding: 2rem;


}

/* Thrifted Pieces*/
#pieces{
    background-color: #BABCAE;
    border: #661d32 1px solid;
    color: #30302B;
    padding: .5rem;
    font-size: 1.1rem;

}

#pieces img {
    max-width:90%;
    border: 3px solid #30302B;
}

#pieces figure{
    text-align: center;
}

#pieces figcaption{
    padding: .5rem;

}

/*services*/

#services{
    margin: .5rem;
    padding: .5rem;
    font-size: 1.1rem;
    text-align: center;
}

#services img {
    max-width: 100%;
    border: #BABCAE 2px solid;
}

#services figcaption{
    padding: .5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

figcaption p:first-child {
    font-weight: bold;
    font-size: 1.2rem
}

#reviews {
    background-color: #BABCAE;
    padding: 1rem;

}

#reviews div {
    border: #30302B 5px solid;
    background-color: #30302B;
    margin: .5rem;
    padding: 2rem;
}


@media screen and (min-width: 1280px) {

    #pieces {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; /* Creates 3 equal columns for images */
    }

    #pieces h3 {
        grid-column: 1 / -1;
        text-align: center;
}

    #pieces figcaption {
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
    }

    #pieces figure img{
        width:100%;
    }

    /*services*/

    #services figure {
        display: flex;
        align-items: center;
        gap: 1rem;           /* Space between image and text */
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }

    #services figcaption {
        display: flex;
        flex-direction: column;
        gap: 2em;
        align-items: center;
        font-size: 1.5rem;
    }

    figcaption p:first-child {
    font-weight: bold;
    font-size: 1.8rem;
    }

    #services img{
        width: 350px;
        height:auto;
        margin: 2rem
    }

   #services h2{
        grid-column: 1/-1;
    }

    /*reviews*/

    #reviews{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 1.5rem;
}

    #reviews h3{
        grid-column: 1 / -1;
        text-align: center;
    }

}



/* Style each review box *
